<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="0.8.2.0" />
  <package id="FsCheck.Xunit" version="0.2.0.0" />
  <package id="FSharpx.TypeProviders" version="1.5.3" />
  <package id="FSPowerPack.Community" version="2.1.3.1" />
  <package id="MSDN.FSharpChart.dll" version="0.60" />
  <package id="Unquote" version="2.2.2" />
  <package id="xunit" version="1.9.1" />
</packages>